[submodule "themes/yilia"]
	path = themes/yilia
	url = https://github.com/litten/hexo-theme-yilia.git
[submodule "themes/freemind"]
	path = themes/freemind
	url = https://github.com/wzpan/hexo-theme-freemind.git
[submodule "themes/bootstrap-blog"]
	path = themes/bootstrap-blog
	url = https://github.com/cgmartin/hexo-theme-bootstrap-blog.git
